.component-container {
    padding: 20px;
}

.rectangle {
    height: 100px;
    width: 300px;
    background-color: #f00;
}

.square {
    height: 200px;
    width: 200px;
    background-color: #00f;
}